body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d0e0e;
  /* background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%); */
}

.App-background {
  /* background-color: rgb(103, 128, 228); */
  background-image: linear-gradient(180deg, #574c2f 0%, #2e2f3e 74%);
  /* background-image: linear-gradient(180deg, #4d919a 0%, #32335a 74%); */
}

.RPG {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50vw;
  /* align-items: center; */
  overflow: hidden;
  position: relative;
}

#home {
  display: flex;
  gap: 3vw;
}

#right {
  /* background-image: url(../public/dark-back.jpg); */
  background-size: 150vw;
  position: relative;
  width: 60vw;
  height: 45vw;
  /* background-image: linear-gradient(180deg, #7be1e3 0%, #5947cf 74%); */
  background-color: #deb136;
  border-radius: 2vw;
  outline: solid 0.6vw rgb(175, 144, 76);
  margin-top: 2.5vw;
  animation: drop-down-card 0.5s linear;
  /* 0.5s */
}

#left {
  /* margin-top: -10vw; */
  /* background-image: url(../public/dark-back.jpg); */
  position: relative;
  width: 30vw;
  height: 45vw;
  /* background-image: linear-gradient(180deg, #7be1e3 0%, #5947cf 74%); */
  background-color: #deb136;
  border-radius: 2vw;
  outline: solid 0.6vw rgb(175, 144, 76);
  z-index: 1;
  margin-top: 2.5vw;
  animation: drop-down-card 0.4s linear;
  /* 0.4s */
  /* margin-top: 10vw; */
}

@keyframes drop-down-card {
  from {
    margin-top: -57.5vw;
  }

  85% {
    margin-top: 8vw;
  }

  to {
    margin-top: 2.5vw;
  }
}

.chain {
  position: absolute;
  top: -22vw;
  width: 2.5vw;
}

#chain1 {
  left: 5vw;
  /* animation: drop-down 0.5s linear; */
}

#chain2 {
  left: 22.2vw;
  /* animation: drop-down 0.5s linear; */
}

#chain1 {
  left: 5vw;
  /* animation: drop-down 0.5s linear; */
}

#chain2 {
  left: 22.2vw;
  /* animation: drop-down 0.5s linear; */
}

#chain3 {
  left: 7vw;
  /* animation: drop-down 0.5s linear; */
}

#chain4 {
  left: 50.2vw;
  /* animation: drop-down 0.5s linear; */
}

#charachter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#exp-bar {
  position: absolute;
  top: 4.6vw;
  left: 8vw;
  width: 20.5vw;
  height: 2.8vw;
  background: linear-gradient(to right, rgb(67, 67, 40) 70%, rgb(150, 150, 144) 30%);
  border: solid 0.25vw #0d0e0e;
  border-radius: 1vw;
}

#exp {
  top: 5.1vw;
  left: 9vw;
  position: absolute;
  color: yellow;
  font-size: 1.4vw;
  text-shadow: 0.1vw 0.1vw 0.01vw black;
  font-weight: bold;
}

#lvl {
  position: absolute;
  top: 1.5vw;
  left: 1.2vw;
  background-color: beige;
  width: 6vw;
  height: 6vw;
  line-height: 4.2vw;
  text-align: center;
  font-size: 3vw;
  border-radius: 10vw;
  border: solid 0.25vw #0d0e0e;
  font-weight: bold;
}

#lvl-label {
  z-index: 1;
  position: absolute;
  font-size: 1vw;
  font-weight: bold;
  top: 5vw;
  left: 2vw;
}

#person {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 8.2vw;
  left: 1.2vw;
  background-color: #f5dd9b;
  width: 27.6vw;
  height: 31vw;
  overflow: hidden;
  border-radius: 1vw;
  border: solid 0.3vw #80724d;
}

#person-img {}

#username-incard {
  position: absolute;
  top: 1.5vw;
  left: 8vw;
  width: 20.5vw;
  height: 2.8vw;
  font-size: 2vw;
  overflow: hidden;
  background-color: rgb(243, 243, 137);
  border: solid 0.25vw #0d0e0e;
  border-radius: 1vw;
}

#marge-alittle {
  position: absolute;
  left: 1vw;
  top: -0.1vw;
  font-weight: bold;
  color: #302f2c;
  text-shadow: 0.1vw 0.1vw 0.01vw rgb(165, 160, 99);
}

#down-card {
  display: flex;
  justify-content: flex-end;
}

#money {
  position: absolute;
  top: 40vw;
  left: 2.2vw;
  font-size: 3.1vw;
  font-weight: bold;
  color: rgb(245, 231, 72);
  text-shadow: 0.2vw 0.1vw 0.3vw rgb(0, 0, 0);
}

#card-money-icon {
  width: 3vw;
  height: 2.2vw;
  -webkit-filter: drop-shadow(0.1vw 0.1vw 0.2vw rgb(0, 0, 0));
  filter: drop-shadow(0.1vw 0.1vw 0.2vw rgb(0, 0, 0));
  ;
}

#to-shop {
  position: absolute;
  background-color: #eed38a;
  width: 11vw;
  height: 3.5vw;
  line-height: 3.5vw;
  top: 40.2vw;
  left: 17vw;
  text-align: center;
  font-weight: 600;
  border-radius: 1vw;
  font-size: 1.5vw;
  text-shadow: 0.1vw 0.1vw 0.2vw rgb(131, 131, 83);
  outline: solid 0.2vw #9e8c5b;
  transition: background-color 0.3s, font-size 0.3s;
}

#to-shop:hover {
  cursor: pointer;
  background-color: #fae8b5;
  font-size: 1.6vw;
}

.pokazateli {
  position: absolute;
  width: 20vw;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  background-color: #eed38a;
  left: 19.8vw;
  color: #302f2c;
  text-shadow: 0.1vw 0.1vw 0.01vw rgb(165, 160, 99);
  outline: solid 0.15vw #0d0e0e;
  border-radius: 1vw;
  font-size: 1.5vw;
  z-index: 1;
}

#stats {
  top: 1.1vw;
}

#armory {
  top: 13.1vw;
}

#invent {
  top: 28.8vw;
}

.line {
  position: absolute;
  left: 2.8vw;
  width: 54vw;
  height: 0.15vw;
  background-color: #0d0e0e;
}

#line-1 {
  top: 2.6vw;
}

#line-2 {
  top: 14.6vw;
}

#line-3 {
  top: 30.3vw;
}

.right-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16vw;
  height: 5vw;
  top: 6vw;
  border-radius: 0.7vw;
  overflow: hidden;
}

#health-bar {
  left: 3.7vw;
  background-color: rgb(168, 238, 154);
  outline: solid 0.3vw #4c8b43;
  ;
}

#damage-bar {
  left: 21.7vw;
  background-color: rgb(238, 174, 163);
  outline: solid 0.3vw #8b5443;
  ;
}

#armor-bar {
  left: 39.7vw;
  background-color: rgb(179, 188, 197);
  outline: solid 0.3vw #717374;
  ;
}

.right-bar-label {
  font-size: 2.5vw;
  top: 0.67vw;
  font-weight: bold;
}

#health-label {
  left: 14vw;
  color: #4c8b43;
  text-shadow: 0.1vw 0.1vw 0.1vw rgb(59, 87, 58);
}

#damage-label {
  left: 14vw;
  color: #8b5443;
  text-shadow: 0.1vw 0.1vw 0.1vw rgb(50, 39, 36);
}

#armor-label {
  left: 14vw;
  color: #717374;
  text-shadow: 0.1vw 0.1vw 0.1vw rgb(43, 43, 46);
}

#icon-for-stats {
  width: 1.7vw;
  margin-left: 0.7vw;
}

.hint {
  font-size: 1.2vw;
  position: absolute;
  top: 18.13vw;
  color: rgb(241, 225, 46);
  background-color: #3f3e39;
  text-shadow: 0.1vw 0.1vw 0.1vw rgb(2, 2, 2);
  font-weight: bold;
  z-index: 1;
}

#hint-1 {
  left: 5.25vw;
}

#hint-2 {
  left: 13.6vw;
}

#hint-3 {
  left: 21.1vw;
}

#hint-4 {
  left: 39.1vw;
}

.mr {
  margin-right: 1.9vw;
}

.mr-2 {
  margin-right: 1.8vw;
}

#item-s {
  margin-right: 0.55vw;
}

.ramka {
  position: absolute;
  top: 18.7vw;
  width: 7.2vw;
  height: 7.6vw;
  border-radius: 0.5vw;
  border: solid 0.12vw rgb(255, 236, 31);
  /* border-top: solid 0.3vw rgb(255, 236, 31); */
}

.ramka-big {
  position: absolute;
  top: 18.7vw;
  width: 27vw;
  height: 7.6vw;
  border-radius: 0.5vw;
  border: solid 0.12vw rgb(255, 236, 31);
  /* border-top: solid 0.3vw rgb(255, 236, 31); */
}

#ramka-1 {
  left: 4.5vw;
}

#ramka-2 {
  left: 12.3vw;
}

#ramka-3 {
  left: 20.1vw;
}

#ramka-4 {
  left: 27.95vw;
}

#items {
  display: flex;
  width: 52vw;
  height: 8.9vw;
  background-color: #3d3b32;
  position: absolute;
  top: 18vw;
  left: 3.74vw;
  outline: solid 0.3vw rgb(53, 52, 47);
  border-radius: 1vw;
}

.item-card {
  margin-top: 1.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vw;
  background-color: #1f1e1d;
  overflow: hidden;
  border-radius: 0.4vw;
  border: solid 0.2vw rgb(27, 27, 25);
}

.item-img-card {
  width: 5.2vw;
  height: 5.2vw;
}

#weapon {
  margin-left: 1.4vw;
  margin-top: 1.7vw;
}


.index-up {
  z-index: 10;
}

.game {
  width: 100vw;
  height: 50vw;
  overflow: hidden;
  background-color: aliceblue;
  position: relative;
}

.btns {
  position: absolute;
  font-size: 1.2vw;
  width: 7vw;
  height: 7vw;
  border-radius: 7vw;
  background-color: rgb(233 209 77);
  outline: solid 0.2vw #b6b68a;
}

.btns:hover {
  cursor: pointer;
  background-color: rgb(254, 233, 118);
  outline: solid 0.2vw #f5f594;
}

.btns-def {
  position: absolute;
  font-size: 1.2vw;
  width: 7vw;
  height: 7vw;
  border-radius: 1vw 1vw 5vw 5vw;
  background-color: rgb(222 213 178);
  outline: solid 0.2vw #b6b68a;
}

.btns-def:hover {
  cursor: pointer;
  background-color: rgb(254, 249, 231);
  outline: solid 0.2vw #f4f4db;
}

.show-btns {
  display: block;
}

.hide-btns {
  display: none;
}

#top {
  top: 22vw;
  left: 19vw;
  background-image: url(../public/hedgehog-attack.svg);
  background-repeat: no-repeat;
  background-position-x: -2vw;
  background-position-y: 0vw;
  background-size: 8vw;
}

#top-def {
  top: 22vw;
  left: 19vw;
  background-image: url(../public/beaver-defend.svg);
  background-repeat: no-repeat;
  background-position-x: 0vw;
  background-position-y: -1vw;
  background-size: 8vw;
}

.top-1 {
  animation: top-1 0.3s linear;
}

@keyframes top-1 {
  from {
    opacity: 0;
    top: 26vw;
    left: 15vw;
  }

  to {
    opacity: 1;
    top: 22vw;
    left: 19vw;
  }
}

#mid {
  top: 30vw;
  left: 25vw;
  background-image: url(../public/apple.png);
  background-size: 4.2vw;
  background-position-x: 1.2vw;
  background-repeat: no-repeat;
  background-position-y: 0.7vw;
}

#mid-def {
  top: 30vw;
  left: 25vw;
  background-image: url(../public/apple-def.png);
  background-size: 4.2vw;
  background-position-x: 1.2vw;
  background-repeat: no-repeat;
  background-position-y: 0.7vw;
}

.mid-1 {
  animation: mid-1 0.3s linear;
}

@keyframes mid-1 {
  from {
    opacity: 0;
    top: 31vw;
    left: 18vw;
  }

  to {
    opacity: 1;
    top: 30vw;
    left: 25vw;
  }
}

#bottom {
  top: 39.5vw;
  left: 23vw;
  background-image: url(../public/fireball.png);
  background-repeat: no-repeat;
  background-size: 11vw;
  background-position-x: -5vw;
  background-position-y: 1.6vw;
}

#bottom-def {
  top: 39.5vw;
  left: 23vw;
  background-image: url(../public/fireball-def.png);
  background-repeat: no-repeat;
  background-size: 11vw;
  background-position-x: 1vw;
  background-position-y: 1.6vw;
}

.bottom-1 {
  animation: bot-1 0.3s linear;
}

@keyframes bot-1 {
  from {
    opacity: 0;
    top: 36vw;
    left: 18vw;
  }

  to {
    opacity: 1;
    top: 39.5vw;
    left: 23vw;
  }
}

.back {
  height: 60vw;
  margin-top: -10vw;
}

.pers {
  position: absolute;

}

.pers1 {
  width: 18vw;
  height: 20vw;
  left: 3vw;
  top: 28vw;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
}

.pers1-attack {
  position: absolute;
  width: 18vw;
  top: 27vw;
  z-index: 1;
}

.s1-1 {
  opacity: 0.6;
}

.s1-2 {
  opacity: 0.4;
}

.s1-3 {
  opacity: 0.2;
}

.on-start {
  display: none;
  left: 16vw;
}

.on-charge {
  display: block;
  animation: on-charge 0.5s linear;
}

@keyframes on-charge {
  from {
    left: 16vw;
  }

  to {
    left: 71vw;
  }
}

.pers1-throw {
  position: absolute;
  z-index: 1;
}

.pers1-throw img {
  width: 6vw;
}

.on-start-throw {
  display: none;
  top: 26vw;
  left: 8vw;
  transform: rotate(320deg) scaleX(-1);
}

.on-charge-throw {
  display: block;
  animation: throw-1 0.6s linear;
}

@keyframes throw-1 {
  from {
    top: 26vw;
    left: 8vw;
    transform: rotate(320deg) scaleX(-1);
  }

  50% {
    top: 19vw;
    left: 48vw;
    transform: rotate(445deg) scaleX(-1);
  }

  to {
    top: 29vw;
    left: 78vw;
    transform: rotate(570deg) scaleX(-1);
  }
}

.pers1-fireball {
  position: absolute;
  z-index: 3;
}

.pers1-fireball img {
  width: 13vw;
}

.on-start-fire {
  display: none;
  top: 36vw;
  left: 14vw;
}

.on-charge-fire {
  display: block;
  animation: fire-1 0.55s linear;
}

.sf-1 {
  opacity: 0.6;
  z-index: 2;
}

.sf-2 {
  opacity: 0.3;
  z-index: 1;
}

@keyframes fire-1 {
  from {
    top: 36vw;
    left: 14vw;
  }

  to {
    top: 36vw;
    left: 73vw;
  }
}

.question-mark-1 {
  position: absolute;
  font-weight: bold;
  font-size: 4.8vw;
  top: 23.5vw;
  left: 11.8vw;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.2vw black;
  animation: question 1s linear infinite;
}

.q-show {
  display: block;
}

.q-hide {
  display: none;
}

#bang-enemy {
  position: absolute;
  width: 6vw;
  z-index: 1;
}

.bang-enemy {
  display: none;
}

.bang-enemy-1 {
  display: block;
  width: 6vw;
  top: 34vw;
  left: 82vw;
  animation: bang 0.27s linear;
}

.bang-enemy-2 {
  display: block;
  top: 31vw;
  left: 80vw;
  left: 82vw;
  animation: bang 0.27s linear;
}

.bang-enemy-3 {
  display: block;
  width: 6vw;
  top: 35.5vw;
  left: 82vw;
  animation: bang 0.27s linear;
}

@keyframes bang {
  from {
    width: 4vw;
    opacity: 0.1;
  }
  50% {
    width: 6vw;
    opacity: 1;
  }
  to {
    width: 4vw;
    opacity: 0.1;
  }
}

@keyframes question {
  from {
    font-size: 4.5vw;
  }

  50% {
    font-size: 5vw;
  }

  to {
    font-size: 4.5vw;
  }
}

.pers1-dodged {
  opacity: 0.7;
}

.pers1-dodged-1 {
  position: absolute;
  width: 17vw;
  top: 27.9vw;
  left: 3.5vw;
  z-index: 0;
  opacity: 0.5;
}

.pers1-dodged-2 {
  position: absolute;
  width: 17vw;
  top: 27.9vw;
  left: 3.5vw;
  z-index: 0;
  opacity: 0.3;
}

.on-start-dodge {
  display: none;
}

.on-charge-dodge-1 {
  display: block;
  animation: dodge-1 0.54s;
}

.on-charge-dodge-2 {
  display: block;
  animation: dodge-2 0.54s;
}

@keyframes dodge-1 {
  from {
    left: 3.5vw;
  }
  50% {
    left: 0.5vw;
  }
  to {
    left: 3.5vw;
  }
}

@keyframes dodge-2 {
  from {
    left: 3.5vw;
  }
  50% {
    left: -2.5vw;
  }
  to {
    left: 3.5vw;
  }
}

.p1-1 {
  background-image: url(../public/hedgehog1.svg);
}

.p1-2 {
  background-image: url(../public/hedgehog2.svg);
}

.p1-3 {
  background-image: url(../public/hedgehog3.svg);
}

.p1-4 {
  background-image: url(../public/hedgehog4.svg);
}

.p1-5 {
  background-image: url(../public/hedgehog5.svg);
}

.p1-attack-prev {
  background-image: url(../public/hedgehog-attack-prev.svg);
}

.p1-mid-1 {
  background-image: url(../public/hedgehog-throw1.svg);
}

.p1-mid-2 {
  background-image: url(../public/hedgehog-throw2.svg);
}

.p1-bot-1 {
  background-image: url(../public/hedgehog-cast1.svg);
}

.p1-bot-2 {
  background-image: url(../public/hedgehog-cast2.svg);
}

.p1-hitted {
  background-image: url(../public/hedgehog-hitted.svg);
}

.p1-lost {
  background-image: url(../public/hedgehog-lost.svg);
}


/* --------------------------------- */

.pers2 {
  width: 18vw;
  height: 20vw;
  left: 78vw;
  top: 28vw;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.pers2-attack {
  position: absolute;
  width: 18vw;
  top: 27vw;
  z-index: 1;
}

.pers2-attack img {
  transform: scaleX(-1);
}

.sd1-1 {
  opacity: 0.6;
}

.sd1-2 {
  opacity: 0.4;
}

.sd1-3 {
  opacity: 0.2;
}

.on-start-2 {
  display: none;
  left: 71vw;
}

.on-charge-2 {
  display: block;
  animation: on-charge-2 0.5s linear;
}

@keyframes on-charge-2 {
  from {
    left: 67vw;
  }

  to {
    left: 12vw;
  }
}

.pers2-throw {
  position: absolute;
  z-index: 1;
}

.pers2-throw img {
  width: 6vw;
}

.on-start-throw-2 {
  display: none;
  top: 26vw;
  left: 8vw;
  transform: rotate(320deg);
}

.on-charge-throw-2 {
  display: block;
  animation: throw-2 0.6s linear;
}

@keyframes throw-2 {
  from {
    top: 26vw;
    left: 81vw;
    transform: rotate(320deg);
  }

  50% {
    top: 19vw;
    left: 47vw;
    transform: rotate(195deg);
  }

  to {
    top: 29vw;
    left: 13vw;
    transform: rotate(70deg);
  }
}

.pers2-fireball {
  position: absolute;
  z-index: 3;
}

.pers2-fireball img {
  width: 13vw;
  transform: scaleX(-1);
}

.on-start-fire-2 {
  display: none;
  top: 36vw;
  left: 73vw;
}

.on-charge-fire-2 {
  display: block;
  animation: fire-2 0.55s linear;
}

.sfd-1 {
  opacity: 0.6;
  z-index: 2;
}

.sfd-2 {
  opacity: 0.3;
  z-index: 1;
}

@keyframes fire-2 {
  from {
    top: 36vw;
    left: 73vw;
  }

  to {
    top: 36vw;
    left: 13.3vw;
  }
}

.question-mark-2 {
  position: absolute;
  font-weight: bold;
  font-size: 4.8vw;
  top: 23.5vw;
  left: 84.8vw;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.2vw black;
  animation: question 1s linear infinite;
}

.q-show {
  display: block;
}

.q-hide {
  display: none;
}

#bang-me {
  position: absolute;
  width: 6vw;
  z-index: 1;
}

.bang-me {
  display: none;
}

.bang-me-1 {
  display: block;
  width: 6vw;
  top: 34vw;
  left: 11vw;
  animation: bang 0.27s linear;
}

.bang-me-2 {
  display: block;
  top: 31vw;
  left: 12vw;
  animation: bang 0.27s linear;
}

.bang-me-3 {
  display: block;
  width: 6vw;
  top: 35.5vw;
  left: 12vw;
  animation: bang 0.27s linear;
}

.pers2-dodged-1 {
  position: absolute;
  width: 17vw;
  top: 27.9vw;
  left: 78.5vw;
  z-index: 0;
  opacity: 0.5;
  transform: scaleX(-1);
}

.pers2-dodged-2 {
  position: absolute;
  width: 17vw;
  top: 27.9vw;
  left: 78.5vw;
  z-index: 0;
  opacity: 0.3;
  transform: scaleX(-1);
}

.on-start-dodge-1 {
  display: none;
}

.on-charge-dodge-e1 {
  display: block;
  animation: dodge-e1 0.54s;
}

.on-charge-dodge-e2 {
  display: block;
  animation: dodge-e2 0.54s;
}

@keyframes dodge-e1 {
  from {
    left: 78.5vw;
  }
  50% {
    left: 81.5vw;
  }
  to {
    left: 78.5vw;
  }
}

@keyframes dodge-e2 {
  from {
    left: 78.5vw;
  }
  50% {
    left: 84.5vw;
  }
  to {
    left: 78.5vw;
  }
}

.p2-1 {
  background-image: url(../public/beaver1.svg);
}

.p2-2 {
  background-image: url(../public/beaver2.svg);
}

.p2-3 {
  background-image: url(../public/beaver3.svg);
}

.p2-4 {
  background-image: url(../public/beaver4.svg);
}

.p2-5 {
  background-image: url(../public/beaver5.svg);
}

.p2-attack-prev {
  background-image: url(../public/beaver-attack-prev.svg);
}

.p2-mid-1 {
  background-image: url(../public/beaver-throw1.svg);
}

.p2-mid-2 {
  background-image: url(../public/beaver-throw2.svg);
}

.p2-bot-1 {
  background-image: url(../public/beaver-cast1.svg);
}

.p2-bot-2 {
  background-image: url(../public/beaver-cast2.svg);
}

.p2-hitted {
  background-image: url(../public/beaver-hitted.svg);
}

.p2-lost {
  background-image: url(../public/beaver-lost.svg);
}


/* ------------------------  */

.my-health-bar {
  position: absolute;
  top: 5.3vw;
  left: 5.5vw;
  width: 33vw;
  height: 3vw;
  outline: solid 0.2vw black;
  border-radius: 1vw;
}

.enemy-health-bar {
  position: absolute;
  top: 5.3vw;
  left: 61.5vw;
  width: 33vw;
  height: 3vw;
  outline: solid 0.2vw black;
  border-radius: 1vw;
}

.my-nickname {
  position: absolute;
  color: white;
  font-size: 2.7vw;
  top: 1.7vw;
  left: 6.5vw;
  text-shadow: 0.1vw 0.1vw 0.5vw black;
}

.enemy-nickname {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 2.7vw;
  top: 1.7vw;
  right: 6.5vw;
  text-shadow: 0.1vw 0.1vw 0.5vw black;
}

.my-hitted {
  position: absolute;
  color: #ec6137;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.4vw black;
  top: 24vw;
  left: 7vw;
  z-index: 1;
  transform: rotate(-4deg);
}

.my-hitted-start {
  display: none;
}

.my-hitted-charge {
  display: block;
  animation: my-hitted 0.6s linear;
}

@keyframes my-hitted {
  from {
    top: 24vw;
    left: 7vw;
  }

  to {
    top: 17vw;
    left: 6vw;
    opacity: 0.5;
  }
}

.my-critted {
  position: absolute;
  color: #e91d1d;
  font-size: 6vw;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.4vw black;
  top: 22vw;
  left: 6vw;
  z-index: 1;
  transform: rotate(-4deg);
}

.my-critted-start {
  display: none;
}

.my-critted-charge {
  display: block;
  animation: my-critted 0.6s linear;
}

@keyframes my-critted {
  from {
    top: 22vw;
    left: 6vw;
  }

  to {
    top: 15vw;
    left: 5vw;
    opacity: 0.5;
  }
}

.my-dodged {
  position: absolute;
  color: #37b9ec;
  font-size: 3.5vw;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.4vw black;
  top: 24vw;
  left: 3vw;
  z-index: 1;
  transform: rotate(-4deg);
}

.my-dodged-start {
  display: none;
}

.my-dodged-charge {
  display: block;
  animation: my-dodged 0.6s linear;
}

@keyframes my-dodged {
  from {
    top: 24vw;
    left: 3vw;
  }

  to {
    top: 17vw;
    left: 2vw;
    opacity: 0.5;
  }
}

.enemy-hitted {
  position: absolute;
  color: #ec6137;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.4vw black;
  top: 24vw;
  right: 8vw;
  z-index: 1;
  transform: rotate(4deg);
}

.enemy-hitted-start {
  display: none;
}

.enemy-hitted-charge {
  display: block;
  animation: enemy-hitted 0.6s linear;
}

@keyframes enemy-hitted {
  from {
    top: 24vw;
    right: 8vw;
  }

  to {
    top: 17vw;
    right: 7vw;
    opacity: 0.5;
  }
}

.enemy-critted {
  position: absolute;
  color: #e91d1d;
  font-size: 6vw;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.4vw black;
  top: 22vw;
  right: 6vw;
  z-index: 1;
  transform: rotate(4deg);
}

.enemy-critted-start {
  display: none;
}

.enemy-critted-charge {
  display: block;
  animation: enemy-critted 0.6s linear;
}

@keyframes enemy-critted {
  from {
    top: 22vw;
    right: 6vw;
  }

  to {
    top: 15vw;
    right: 5vw;
    opacity: 0.5;
  }
}

.enemy-dodged {
  position: absolute;
  color: #37b9ec;
  font-size: 3.5vw;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.4vw black;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.4vw black;
  top: 24vw;
  right: 3vw;
  z-index: 1;
  transform: rotate(4deg);
}

.enemy-dodged-start {
  display: none;
}

.enemy-dodged-charge {
  display: block;
  animation: enemy-dodged 0.6s linear;
}

@keyframes enemy-dodged {
  from {
    top: 24vw;
    right: 3vw;
  }

  to {
    top: 17vw;
    right: 2vw;
    opacity: 0.5;
  }
}

.fight-end {
  position: absolute;
  font-size: 7vw;
  font-weight: bold;
  z-index: 5;
  background-color: #3a3730; 
  width: 60vw;
  height: 25vw;
  top: 12vw;
  line-height: 13vw;
  text-align: center;
  border-radius: 3vw;
  border: 0.5vw solid rgb(105, 99, 99);
}

.fight-end-win {
  color: #55a34a;
  border-color: #55a34a;
}

.fight-end-lose {
  color: #c03b3b;
  border-color: #c03b3b;
} 

.fight-money {
  position: absolute;
  top: 7vw;
  left: 19vw;
  font-size: 3vw;
  color: yellow;
}

.fight-money img {
  margin-left: 0.9vw;
  margin-bottom: -0.4vw;
  height: 3vw;
  width: 3vw;
}

.fight-exp {
  position: absolute;
  top: 7vw;
  left: 32vw;
  font-size: 3vw;
  color: rgb(201, 191, 54);
}

.fight-exp img {
  margin-left: 0.9vw;
  margin-bottom: -0.5vw;
  height: 3.1vw;
  width: 3.1vw;
}

.fight-end-btn {
  position: absolute;
  text-decoration: none;
  font-size: 2vw;
  width: 24vw;
  height: 4vw;
  background-color: #deb136;
  border-radius: 2vw;
  outline: solid 0.4vw rgb(175, 144, 76);
  line-height: 4vw;
  color: #2d2e2e;
  top: 17.8vw;
  left: 18vw;
  transition: font-size 0.3s, background-color 0.3s;
}

.fight-end-btn:hover {
  font-size: 2.2vw;
  background-color: #eecc6e;
  cursor: pointer;
}

.opacity {
  position: absolute;
  opacity: 0.8;
  z-index: 4;
  width: 100vw;
  height: 50vw;
  background-color: #0d0e0e;
}

.end-none {
  display: none;
}

.end-end {
  display: block;
  animation: go-end 0.7s linear;
}

.end-end2 {
  display: block;
  animation: go-end2 0.7s linear;
}

@keyframes go-end {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes go-end {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.8;
  }
}

.load-persons-1 {
  display: none;
}

.load-persons-2 {
  display: none;
}

.loading-left {
  position: absolute;
  width: 100vw;
  height: 50vw;
  background-color: #575852;
  right: 50vw;
  top: 0vw;
  transform: skew(-32deg);
  animation: loading-left-out 0.7s;
  animation-delay: 1s;
  z-index: 11;
}

.logo-left-f {
  position: absolute;
  width: 15vw;
  top: 14vw;
  left: 41.9vw;
  animation: loading-left-logo-out 0.7s;
  animation-delay: 1s;
  z-index: 12;
}

@keyframes loading-left-out {
  from {
    right: 50vw;
    top: 0vw;
  }
  to {
    right: 18vw;
    top: -51.2vw;
  }
}

@keyframes loading-left-logo-out {
  from {
    left: 41.9vw;
    top: 14vw;
  }
  to {
    left: 73.9vw;
    top: -37.2vw;
  }
}

.loading-right {
  position: absolute;
  width: 100vw;
  height: 50vw;
  background-color: #3a3a35;
  left: 50vw;
  top: 0vw;
  transform: skew(-32deg);
  animation: loading-right-out 0.7s;
  animation-delay: 1s;
  z-index: 11;
}

.logo-right-f {
  position: absolute;
  width: 18vw;
  z-index: 11;
  top: 14vw;
  left: 43.4vw;
  animation: loading-right-logo-out 0.7s;
  animation-delay: 1s;
  z-index: 12;
}

@keyframes loading-right-out {
  from {
    left: 50vw;
    top: 0vw;
  }
  to {
    left: 18vw;
    top: 52.8vw;
  }
}

@keyframes loading-right-logo-out {
  from {
    left: 43.4vw;
    top: 14vw;
  }
  to {
    left: 11.4vw;
    top: 66.8vw;
  }
}

/* -------------- */

.loading-left-s {
  position: absolute;
  width: 100vw;
  height: 50vw;
  background-color: #575852;
  right: 50vw;
  top: 0vw;
  transform: skew(-32deg);
  animation: loading-left-out-s 0.7s;
  z-index: 11;
}

.logo-left-s {
  position: absolute;
  width: 15vw;
  top: 14vw;
  left: 41.9vw;
  animation: loading-left-logo-out-s 0.7s;
  z-index: 12;
}

@keyframes loading-left-out-s {
  from {
    right: 82vw;
    top: 52.8vw;
  }
  to {
    right: 50vw;
    top: 0vw;
  }
}

@keyframes loading-left-logo-out-s {
  from {
    left: 9.9vw;
    top: 66.8vw;
  }
  to {
    left: 41.9vw;
    top: 14vw;
  }
}

.loading-right-s {
  position: absolute;
  width: 100vw;
  height: 50vw;
  background-color: #3a3a35;
  left: 50vw;
  top: 0vw;
  transform: skew(-32deg);
  animation: loading-right-out-s 0.7s;
  z-index: 11;
}

.logo-right-s {
  position: absolute;
  width: 18vw;
  z-index: 11;
  top: 14vw;
  left: 43.4vw;
  animation: loading-right-logo-out-s 0.7s;
  z-index: 12;
}

@keyframes loading-right-out-s {
  from {
    left: 82vw;
    top: -52.8vw;
  }
  to {
    left: 50vw;
    top: 0vw;
  }
}

@keyframes loading-right-logo-out-s {
  from {
    left: 75.4vw;
    top: -38.8vw;
  }
  to { 
    left: 43.4vw;
    top: 14vw;
  }
}

.hide-animations-in {
  display: none;
}
/* background-color: #deb136;
  border-radius: 2vw;
  outline: solid 0.6vw rgb(175, 144, 76); */

.owl-fight {
  position: absolute;
  width: 10vw;
  top: 30.6vw;
  left: 37.5vw;
}

.owl-fight-in {
  animation: owl-in 1s linear;
}

.owl-fight-out {
  animation: owl-out 1s linear;
}

@keyframes owl-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes owl-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.pill {
  position: absolute;
  width: 6vw;
  top: 28vw;
  transition: width 0.2s;
}

.pill-blue {
  transform: rotate(42deg);
  left: 49vw;
  animation: pill-blue 1s infinite;
}

.pill-red {
  transform: rotate(-42deg) scaleX(-1);
  left: 30vw;
  animation: pill-red 1s infinite;
}

@keyframes pill-blue {
  from {
    top: 27vw;
  }
  50% {
    top: 28vw;
  }
  to {
    top: 27vw;
  }
}

@keyframes pill-red {
  from {
    top: 28vw;
  }
  50% {
    top: 27vw;
  }
  to {
    top: 28vw;
  }
}

.pill:hover {
  cursor: pointer;
  width: 6.5vw;
}

.pill-text {
  position: absolute;
  color: white;
  font-weight: 700;
  text-shadow: 0.1vw 0.1vw 0.1vw black;
  top: 31vw;
  font-size: 1.4vw;
}

.pill-blue-text {
  transform: rotate(-16deg);
  left: 50.2vw;
}

.pill-red-text {
  transform: rotate(16deg);
  left: 31.3vw;
}

.pill-blue-a {
  animation: pill-blue-txt 1s infinite;
}

.pill-red-a {
  animation: pill-red-txt 1s infinite;
}

.pill-out {
  animation: pill-blue-out 1s linear;
}

.pill-hide {
  display: none;
}

@keyframes pill-blue-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes pill-blue-txt {
  from {
    top: 30vw;
  }
  50% {
    top: 31vw;
  }
  to {
    top: 30vw;
  }
}

@keyframes pill-red-txt {
  from {
    top: 31vw;
  }
  50% {
    top: 30vw;
  }
  to {
    top: 31vw;
  }
}

.welcome-owl {
  position: absolute;
  width: 40vw;
  height: 8vw;
  background-color: rgb(248, 238, 215);
  line-height: 8vw;
  text-align: center;
  font-size: 2vw;
  color: #302f2c;
  font-weight: 600;
  border-radius: 4vw/3vw;
  top: 18vw;
  left: 23.3vw;
}

.display-it {
  display: block;
}

.hide-it {
  display: none;
}

.owl-things {
  width: 0;
  height: 0;
}
